global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'fastapi'
    static_configs:
      - targets: ['api:8000']
  
  - job_name: 'airflow'
    static_configs:
      - targets: ['airflow-webserver:8080']
